<%= form_for @course do |f|%>
	<p>
		<%= f.label "Course ID" %><br>
		<%= f.text_field :course_id %><br>
	</p>	
	<p>
		<%= f.label "Name" %><br>
		<%= f.text_field :name %><br>
	</p>
	<p>
		<%= f.label "Day" %><br>
		<%= f.text_field :day %><br>
	</p>
	<p>
		<%= f.label "Time" %><br>
		<%= f.text_field :time %><br>
	</p>
	<p>
		<%= f.label "Total Students" %><br>
		<%= f.text_field :total_student %><br>
	</p>
	<p>
		<%= f.label "Notes" %><br>
		<%= f.text_field :note %><br>
	</p>
	<p>
		<%= f.submit "Create"%>
	</p>	
<% end %>